ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 720px;
    background: #159cb0 url(./img/fundo-horizontal.png) repeat-x;
    float: left;
}

ul li {
    float: left;
}

ul a {
    display: block;
    padding: 0px 2em;
    line-height:2em;
    text-decoration: none;
    color: #fff;
    background: url(./img/divisor.png) repeat-y left top;
    transition: all 0.1s;
}

ul .primeiro a {
    background: none;

}

ul a:hover {
    color: #085662;
    background: #44cade;
}

#home .home a, #sobre .sobre a, #servicos .servicos a,
#noticias .noticias a, #contato .contato a {
    background-position: right bottom;
    color: #085662;
    background: #44cade;
}

