body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #f2f2f2;
}

#container {
    width: 85%;
    margin: 0 auto; /*Usamos o auto para centralizar o conteudo*/
    background: #fff;
    min-width: 720px;
    /*max-width: 960px;*/
}

#marca {
    width: 100%;
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}

#conteudo {

    width: 50%;
    float: right;
}

#lateral {
    margin-left: 1%;
    width: 23%;
    float: right;
    padding: 10px;
    background: #d1d1d1;

}

#navegacao {

    width: 20%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao ul, #navegacao li a {
    text-decoration: none;
    list-style: none;
}
 

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}